---
// Biografia.astro - Seção de Biografia da banda Plano Marshall
import { Image } from 'astro:assets';
---

<section id="biografia" class="py-20 bg-[#2e2e2e] flex flex-col items-center justify-center">
  <div class="container px-4 md:px-6">
    <h2 class="text-3xl md:text-4xl font-bebas mb-12 text-[#b9963d] uppercase tracking-wider text-center font-bebas-neue">
      Biografia
    </h2>

    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div>
        <h3 class="text-3xl font-bebas text-[#b9963d] uppercase mb-6 tracking-wider font-bebas-neue md:text-left text-center md:block hidden">Sobre nós</h3>
        <div class="space-y-4 text-[#e0e0e0]">
          <p>
            A Plano Marshall nasceu em Jaú, interior de São Paulo, do encontro de quatro músicos apaixonados pelos clássicos do rock que moldaram gerações.
          </p>
          <p>
            Com uma performance cheia de energia, nossa missão é proporcionar uma experiência musical única, em que o público possa reviver os grandes clássicos do rock, conhecer novas músicas e viver momentos inesquecíveis.
          </p>
          <p>
            Do peso cru dos anos 70 até as sonoridades mais contemporâneas, nosso repertório abrange décadas de evolução musical, incluindo sucessos de bandas como Guns N' Roses, Foo Fighters, Pearl Jam, Green Day, Ghost, entre outros gigantes do rock.
          </p>
          <p>
           Relembre. Descubra. Viva.
          </p>
          <p>
            Prazer, nós somos a Plano Marshall!
           </p>
      
        </div>
      </div>
      <div class="aspect-video relative">
        <img
          src="/banda.webp"
          alt="Banda Plano Marshall"
          class="w-full h-auto rounded-lg shadow-lg"
        />
      </div>
    </div>
  </div>
</section>
