---
// Membros.astro - Seção de Integrantes da banda Plano Marshall
---

<section id="integrantes" class="py-16 bg-black flex flex-col items-center justify-center font-bebas-neue\">
  <div class="container px-4 md:px-6">
    <h2 class="text-3xl md:text-4xl  font-bebas text-[#b9963d] uppercase mb-12 text-center tracking-wider">
      Integrantes
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Vocalista -->
      <article class="text-center">
        <div class="aspect-square relative mb-4 overflow-hidden">
          <img
            src="/gui.webp"
            alt="Guilherme Motta - Baixo"
            width="300"
            height="300"
            class="rounded-md object-cover w-full h-full object-[-10%_30%] scale-125 hover:scale-110 transition-transform duration-300"
            loading="lazy"
          />
        </div>
        <h3 class="text-xl font-bebas text-[#b9963d] uppercase tracking-wider ">
          Guilherme Nunhez
        </h3>
        <p class="text-[#e0e0e0]">Vocalista</p>
      </article>

      <!-- Guitarrista -->
      <article class="text-center">
        <div class="aspect-square relative mb-4">
          <img
            src="/caue.webp"
            alt="Cauê Magário - Guitarra"
            width="300"
            height="300"
            class="rounded-md object-cover w-full h-full object-[10%_30%]"
            loading="lazy"
          />
        </div>
        <h3 class="text-xl font-bebas text-[#b9963d] uppercase tracking-wider">
          Caue Barros
        </h3>
        <p class="text-[#e0e0e0]">Baterista</p>
      </article>

      <!-- Baixista -->
      <article class="text-center">
        <div class="aspect-square relative mb-4">
          <img
            src="/prado.webp"
            alt="João Victor Prado - Vocal"
            width="300"
            height="300"
            class="rounded-md object-cover w-full h-full object-[100%_30%]"
            loading="lazy"
          />
        </div>
        <h3 class="text-xl font-bebas text-[#b9963d] uppercase tracking-wider">
          João Prado
        </h3>
        <p class="text-[#e0e0e0]">Guitarrista</p>
      </article>

      <!-- Baterista -->
      <article class="text-center">
        <div class="aspect-square relative mb-4">
          <img
            src="/lucas.webp"
            alt="Lucas Magário - Bateria"
            width="300"
            height="300"
            class="rounded-md object-cover w-full h-full object-[100%_80%]"
            loading="lazy"
          />
        </div>
        <h3 class="text-xl font-bebas text-[#b9963d] uppercase tracking-wider ">
          Lucas Sampaio
        </h3>
        <p class="text-[#e0e0e0]">Baixista</p>
      </article>
    </div>
  </div>
</section>
